# =============================================
# TEMPLATE - COPY FILE INI JADI .env
# =============================================

VITE_PARTNER_NAME=
VITE_YOUR_NAME=
VITE_PARTNER_AGE=
VITE_BIRTHDAY_DATE=
VITE_RELATIONSHIP_START_DATE=
VITE_MAIN_MESSAGE=
VITE_LOVE_LETTER=
VITE_TOTAL_IMAGES=9
VITE_SPECIAL_PLACE=
VITE_QUIZ_QUESTIONS=
